<div class="main-content">
  <section>
    <!-- Jumbotron -->
    <div
      class="px-4 py-5 px-md-5 text-center text-lg-start"
      style="background-color: hsl(0, 0%, 96%)"
    >
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              EasyFin <br />
              <span class="text-primary">Ensino de qualidade</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
              itaque accusantium odio, soluta, corrupti aliquam quibusdam
              tempora at cupiditate quis eum maiores libero veritatis? Dicta
              facilis sint aliquid ipsum atque?
            </p>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form
                  *ngIf="loginForm"
                  [formGroup]="loginForm"
                  (ngSubmit)="submitLogin()"
                >
                  <!-- Email input -->
                  <div class="form-outline mb-4">                    
                    <label for="input-email" class="form-label"> Email </label>
                    <input
                      id="input-email"
                      class="form-control"
                      type="text"
                      formControlName="email"
                      placeholder="email_exemplo@email.com"
                      [class.is-invalid]="loginForm.controls['email'].errors && loginForm.controls['password'].touched "
                    />
                  </div>
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <label for="input-password" class="form-label">
                      Senha
                    </label>
                    <input
                      id="input-password"
                      class="form-control"
                      type="password"
                      formControlName="password"
                      [class.is-invalid]="loginForm.controls['password'].errors && loginForm.controls['password'].touched"
                    />
                  </div>
                  <!-- 2 column grid layout for inline styling -->
                  <!-- TODO : ADICIONAR FUNCIONALIDADES -->
                  <!-- <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="form2Example31"
                          checked
                        />
                        <label class="form-check-label" for="form2Example31">
                          Remember me
                        </label>
                      </div>
                    </div>

                    <div class="col">
                      <a href="#!">Forgot password?</a>
                    </div>
                  </div> -->
                  <!-- Submit button -->
                  <button [disabled]="loginForm.controls['email'].errors || loginForm.controls['password'].errors" type="submit" class="btn btn-primary btn-block mb-4">
                    Entrar
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
