  <mat-card class="card-container">
    <mat-card-title-group>
      <mat-card-title>
        <img
          mat-card-lg-image
          class="profile-img"
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content *ngIf="user != null">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="user.name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Telefone</mat-label>
        <input matInput [(ngModel)]="user.phone">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Data Nascimento</mat-label>
        <input matInput [(ngModel)]="user.birthday">
      </mat-form-field>
    </mat-card-content>
  </mat-card>   
