<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar class="mat-toolbar">
      <button (click)="opened= !opened"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="mat-sidenav">
    <mat-list-item routerLink="/profile">
      <p>Meu perfil</p>
    </mat-list-item>
    <mat-list-item routerLink="/dashboard">
      <p>Dashboard</p>
    </mat-list-item>
  </mat-sidenav>
  
 --></mat-sidenav-container>
