<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Base document</title>
  </head>
  <body> -->
<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-list-item>
      <mat-icon mat-list-icon>home</mat-icon>
    </mat-list-item>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar>
      <h1>hi</h1>
    </mat-toolbar>
  </mat-sidenav-content>
  
  <!-- <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav #snav>
            <mat-nav-list>
              <a mat-list-item routerLink="./dashboard">danidnwaidnwaid</a>
            </mat-nav-list>
          </mat-sidenav>
         -->
 --></mat-sidenav-container>
<!--   </body>
</html> -->
