
.card-container {
    width: 90%;
    height: 40%;
}

.img-card {
    max-height: 100%;
    max-width: 100%; 
    border-radius: 30%;
    object-fit: cover;
}

.profile-img {
    border-radius: 50%;
}








